#propertyimages{
	/* width:325.98px !important; */
	width:330px !important;
	height:200px !important;
}

#mixedSlide {
  position: relative;
}
#mixedSlide .MS-content {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 5%;
}
#mixedSlide .MS-content .item {
  display: inline-block;
  width: 35%;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  height: 100%;
  white-space: normal;
  padding: 0 10px;
}
@media (max-width: 991px) {
  #mixedSlide .MS-content .item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  #mixedSlide .MS-content .item {
    width: 35%;
	/* max-width: 350px; */
	padding: 0px;
  }
  .container { margin:0px auto;}
  #propertyimages{
	/* width:300px !important; */
	width:150% !important;
	height:150px !important;
	padding: 0px;
}
}
#mixedSlide .MS-content .item .imgTitle {
  position: relative;
}
#mixedSlide .MS-content .item .imgTitle .blogTitle {
  margin: 0;
  text-align: left;
  letter-spacing: 2px;
  color: #252525;
  /* font-style: italic; */
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  bottom: 0;
  font-weight: bold;
   font-size:18px;
  text-transform: capitalize;
  padding: 0 0 2px 10px;
}
#mixedSlide .MS-content .item .imgTitle img {
  height: auto;
  width: 100%;
}
#mixedSlide .MS-content .item p {
  font-size: 16px;
  margin: 2px 10px 0 5px;
  text-indent: 15px;
}
#mixedSlide .MS-content .item a {
  float: right;
  margin: 0 20px 0 0;
  font-size: 16px;
  font-style: italic;
  color: rgba(173, 0, 0, 0.82);
  font-weight: bold;
  letter-spacing: 1px;
  transition: linear 0.1s;
}
#mixedSlide .MS-content .item a:hover {
  text-shadow: 0 0 1px grey;
}
#mixedSlide .MS-controls button {
  position: absolute;
  border: none;
  background-color: transparent;
  outline: 0;
  font-size: 50px;
  top: 55px;
  color: rgba(0, 0, 0, 0.4);
  transition: 0.15s linear;
}
#mixedSlide .MS-controls button:hover {
  color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 992px) {
  #mixedSlide .MS-controls button {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  #mixedSlide .MS-controls button {
    font-size: 20px;
  }
}
#mixedSlide .MS-controls .MS-left {
  left: 0px;
}
@media (max-width: 767px) {
  #mixedSlide .MS-controls .MS-left {
    left: -10px;
  }
}
#mixedSlide .MS-controls .MS-right {
  right: 0px;
}
@media (max-width: 767px) {
  #mixedSlide .MS-controls .MS-right {
    right: -10px;
  }
}
/* #basicSlide { position: relative; } */

/* #basicSlide .MS-content { */
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* margin: 0 2%; */
  /* height: 50px; */
/* } */

/* #basicSlide .MS-content .item { */
  /* display: inline-block; */
  /* width: 20%; */
  /* position: relative; */
  /* vertical-align: top; */
  /* overflow: hidden; */
  /* height: 100%; */
  /* white-space: normal; */
  /* line-height: 50px; */
  /* vertical-align: middle; */
/* } */
@media (max-width: 991px) {

#basicSlide .MS-content .item { width: 25%; }
}
/* @media (max-width: 767px) { */

/* #basicSlide .MS-content .item { width: 35%; } */
/* } */
/* @media (max-width: 500px) { */

/* #basicSlide .MS-content .item { width: 50%; } */
/* } */

#basicSlide .MS-content .item a {
  line-height: 50px;
  vertical-align: middle;
}

#basicSlide .MS-controls button { position: absolute; }

#basicSlide .MS-controls .MS-left {
  top: 35px;
  left: 10px;
}

#basicSlide .MS-controls .MS-right {
  top: 35px;
  right: 10px;
}